<a class="cart-item" href="/products/{{product_id}}">
    <img src="{{product_img}}" class="cart-item-image"></img>
    <div class="cart-item-desc">
        <h1>{{product_name}}</h1>
        <hr>
        <p>{{description}}</p>
        <p>{{stock}}</p>
        <p>{{price}}</p>
        <p>Quantity to Buy</p>
    </div>
    <div class="cart-item-options">
        <button id="cart-item-delete">Delete</button>
        <button>Save to Wish List</button>
    </div>
</a>