<div class="sr-item-container">
    <a style="text-decoration: none" href="/products/{{product_id}}" class="sr-item">
        <div class="search-results-card">
            <div class="sr-img-container" id="hvr-ripple-out">
                <img src="{{product_img}}" alt="" class="sr-image">
            </div>
            <button class="view-details">View Details</button>
        </div>
        <div class="sr-item-details">
            <h2 class="sr-item-title">{{product_name}}</h2>
            <h3 class="item-stock">{{stock}} available! Buy now </h3>
            <p class="sr-item-price">${{price}}</Sp>
        </div>
    </a>
</div>
<hr>