<div class="sr-item-container">
    <a style="text-decoration: none" href="/products/{{product_id}}" class="sr-item">
        <div class="search-results-card">
            <div class="sr-img-container" id="hvr-ripple-out">
                <img src="{{product_img}}" alt="" class="sr-image">
            </div>
            <button class="view-details">View Details</button>
        </div>
        <div class="sr-item-box">
            <h2>{{product_name}}</h2>
            <div class="sr-details">
                <div class="price-stock">
                    <p class="product-price"><b>Price:</b>&nbsp;${{price}}</p>
                    <p class="product-stock"><b>Stock:</b>&nbsp;{{stock}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
<hr>