{{!-- Display Logged In User's Info --}}
<div class="sign-up-container">
    <div id="signup-container">
        <div class="login-header">
            <h1>My Profile</h1>
        </div>
        <form id="signup-form">
            {{!-- Username --}}
            <div class="form-group">
                <label for="username-signup">Username: {{user.username}}</label>
                {{!-- <label class="form-control" id="update-username">{{user.username}}</label> --}}
                {{!-- <input class="form-input" type="text" id="username-signup" /> --}}
            </div>
            {{!-- User Balance --}}
            <div class="form-group">
                <label for="email-signup">Balance: ${{user.balance}}</label>
                {{!-- <input type="text" class="form-control" id="update-username" value="{{user.balance}}"> --}}
                {{!-- <input class="form-input" type="text" id="email-signup" /> --}}
            </div>
            {{!-- First Name --}}
            <div class="form-group">
                <label for="firstname-signup">First Name</label>
                <input type="text" class="form-control" id="update-username" value="{{user.first_name}}">
                {{!-- <input class="form-input" type="text" id="firstname-signup" /> --}}
            </div>
            {{!-- Last Name --}}
            <div class="form-group">
                <label for="lastname-signup">Last Name</label>
                <input type="text" class="form-control" id="update-username" value="{{user.last_name}}">
                {{!-- <input class="form-input" type="text" id="lastname-signup" /> --}}
            </div>
            {{!-- Email --}}
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input type="text" class="form-control" id="update-username" value="{{user.email}}">
                {{!-- <input class="form-input" type="text" id="email-signup" /> --}}
            </div>

            {{!-- Change Password --}}
            <div class="form-group">
                <label for="password-signup">New Password</label>
                <input class="form-input" type="password" id="password-signup" placeholder="Enter New Password..." />
            </div>
            <div class="form-group">
                {{!-- Confirm Password --}}
                <label for="password-signup">Confirm New Password</label>
                <input class="form-input" type="password" id="password-signup" placeholder="Confirm New Password..." />
            </div>
            {{!-- Submit Button --}}
            <div class="form-group">
                <button type="submit" data-id={{user.user_id}}> Update <i class="fa fa-user-plus"
                        aria-hidden="true"></i></button>
                <button> Cancel <i class="fa fa-user-times" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>

{{!--
<script src="./js/appendContent.js"></script>
<script src="./js/signup.js"></script> --}}