{{!-- page container --}}
<div class="product-page-container">
    <div class="product-page-item">
        {{!-- image container --}}
        <div class="product-image-container">
            {{!-- image --}}
            <img class="product-image" src="{{products.product_img}}" alt="productImage" class="product-image">
        </div>
        <div class="product-details">
            <h2>{{products.product_name}}</h2>
            <hr>
            <p class="category-title"><b>Category </b>{{products.category.category_name}}</p>
            <p class="product-description"><b>Description </b>{{products.description}}</p>
            <p class="product-price"><b>Price </b>${{products.price}}</p>
            <p class="product-stock"><b>Stock </b>{{products.stock}}</p>

            <button data-id="{{products.product_id}}" class="add-to-cart">
                <div class="default">Add to cart</div>
                <div class="success">Added</div>
                <div class="cart">
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="dots"></div>
            </button>
        </div>
    </div>
</div>