{{!-- page container --}}
<div class="product-page-container">
    <div class="product-page-item">
        {{!-- image container --}}
        <div class="product-image-container">
            {{!-- image --}}
            <img class= "product-image" src="{{products.product_img}}" alt="productImage" class="product-image">
        </div>
        <div class="product-details">
            <h2>{{products.product_name}}</h2>
            <hr>
            <p class="category-title"><b>Category </b>{{products.category.category_name}}</p>
            <p class="product-description"><b>Description </b>{{products.description}}</p>
            <p class="product-price"><b>Price </b>${{products.price}}</p>
            <p class="product-stock"><b>Stock </b>{{products.stock}}</p>
            
            <div class="cart-buttons">
                <button class="alt-btn">Add to Cart  <img class = "add-cart-svg" src="../images/icons/productpage/addtocart-icon.png" alt="" class="cart-image"></button>
            </div>
        </div>
    </div>
</div>
